.container {
    overflow: hidden;
    min-height: 100vh;
}
.header {
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 #0000002E;
    backdrop-filter: blur(10px);
    background: #ffffff;
    left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 14px 18px;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 6;
}